<ion-view view-title="{{artistName}}">
  <ion-content>
  
  <div class="list list-inset">
			<a class="item" ng-repeat="artistTrack in artistTracks" ng-click="playSong(artistTrack.preview_url)" on-swipe-right="onHold(artistTrack.name, artistTrack.preview_url)">
		    	<h2>{{artistTrack.name}}</h2>
		    </a>
	</div>

	<!-- testing -->

	<ion-list can-swipe="true">

        <ion-item ng-repeat="artistTrack in artistTracks" 
                  item="artistTrack"
                  ng-click="playSong(artistTrack.preview_url)" class="item-remove-animate">
                            <ion-option-button class="button-assertive"
                             ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            Share
          </ion-option-button>
          {{artistTrack.name}}
        </ion-item>

      </ion-list>

	



    <div class="list list-inset">
			<a class="item item-thumbnail-left" ng-repeat="relatedArtist in relatedArtists" href="#/app/artist/{{relatedArtist.id}}">
				<img src="{{relatedArtist.images[2].url}}">
		    	<h2>{{relatedArtist.name}}</h2>
		    	<p>{{relatedArtist.popularity}}</p>
		    </a>
		</div>	
  </ion-content>
</ion-view>
